<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leapsy.player4b">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission android:name="com.leapsy.leapsyplayer.permission.READ_PERMISSION"
        android:protectionLevel="signature"/>

    <permission android:name="com.leapsy.leapsyplayer.permission.WRITE_PERMISSION"
        android:protectionLevel="signature"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_btn_media_default"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_btn_media_default"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name="com.leapsy.player4b.activities.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>

        <provider
            android:authorities="com.leapsy.leapsyijkplayerkotlinprovider"
            android:name="com.leapsy.player4b.contentManager.MemberProvider"
            android:readPermission="com.leapsy.leapsyplayer.permission.READ_PERMISSION"
            android:writePermission="com.leapsy.leapsyplayer.permission.WRITE_PERMISSION"
            android:exported="true"/>
    </application>

</manifest>